.sixth{
    width: 100vw;
    /* height: 1200px; */
    background-color: white;
}
.sixth__inner{
    width: 100%;
    height: 100%;
    /* max-width: 1470px; */
    background-color: white;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sixth__inner__textBox{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}
.sixth__inner__textBox > h1{
    font-size: 25px;
    font-weight: bold;
}
.sixth__inner__textBox > span{
    font-size: 15px;
    font-weight: bold;
}

.sixth__inner__container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}
.sixth__inner__container__card{
    width: 300px;
    height: 300px;
    background-color: white;
    position: relative;
}
.sixth__inner__container__card > img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sixth__inner__container__card__overlay{
    
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixth__inner__container__card__overlay > span{
    display: none;
    font-weight: bold;
    color: white;
}
.sixth__inner__container__card:hover .sixth__inner__container__card__overlay{
    display: block;
    background-color: rgba(0, 0, 0, 0.7); 
}
.sixth__inner__container__card:hover .sixth__inner__container__card__overlay > span{
    display: block;
}
.sixth__inner__btn{
    font-size: 20px;
    font-weight: bold;
    color: white;

    background-color: blue;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}

.sixth__inner__bannerBox{
    margin-top: 80px;
    width: 100%;
    height: 185px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sixth__inner__bannerBox__item{
    position: relative;
    background-color: white;
    /* border: 1px solid #000; */
    display: flex;
    
    align-items: center;
}
.sixth__inner__bannerBox__item__inner{
    width: 100%;
    height: 100px;
    background-color: white;
    border-right: 1px solid #000;

    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sixth__inner__bannerBox__item__inner__textBox{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sixth__inner__bannerBox__item__inner__textBox > span{
    font-size: 15px;
}
.sixth__inner__bannerBox__item__inner__textBox > a{
    font-size: 20px;
}
.sixth__inner__bannerBox__item__inner > i{
    font-size: 30px;
}
.sixth__inner__bannerBox__item__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.sixth__inner__bannerBox__item__overlay:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* 아래에서 위로 그라데이션 */
}


@media screen and (max-width:500px) {
    .sixth {
        width: 100vw;
        height: 140vh; /* 화면 크기 제한 */
        /* background-color: aqua; */
        
    }
    .sixth__inner{
        max-width: 98%;
        background-color: white;
        gap: 80px;
    }
    
    .sixth__inner__container{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .sixth__inner__container__card{
        width: 195px;
        height: 195px;
        background-color: white;
        position: relative;
        display: none;
    }
    .show{
        display: block;
    }
    .sixth__inner__bannerBox{
        margin-top: 0px;
        /* border: 1px solid #000; */
        width: 90%;
        height: 500px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .sixth__inner__bannerBox__item{
        position: relative;
        /* background-color: blue; */
        
        display: flex;
        border-bottom: 1px solid #000;
        align-items: center;
    }
    .sixth__inner__bannerBox__item__inner{
        width: 100%;
        height: 100px;
        background-color: white;
        /* border-right: 1px solid #000; */
        border-right:none;
    
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sixth__inner__bannerBox__item__inner__textBox{
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .sixth__inner__bannerBox__item__inner__textBox > span{
        font-size: 20px;
    }
    .sixth__inner__bannerBox__item__inner__textBox > a{
        font-size: 15px;
    }
    .sixth__inner__bannerBox__item__inner > i{
        font-size: 30px;
    }
}
